
* {
  box-sizing: border-box;
  margin :auto;
 }
.body{
	margin-top: auto;
}

.row { 

  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-top:20px;

}


.side {
  flex: 25%;
 
}


.main {
  flex: 60%;
  }

@media screen and (max-width : 600px){
  .row{
    display:flex;
    flex-direction:column-reverse;
    width:300px;
    margin:0 auto;
  }
  .recommandation{

    padding-left:0px;

  }
  .reco2{
    padding-left:40px;
  }
  .PartieG{
    margin-top: 10px;

  }
  .fa-bullseye{
    margin-left:0px;
  }
  .specialite{
    padding-left:35px;
  }



}


