
* {
  box-sizing: border-box;
<<<<<<< HEAD
  margin: auto;    
=======
  margin :auto;
  padding-top: auto;
  padding-bottom: auto;


>>>>>>> size
}


.row { 
   
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 700px;
}


.side {
  flex: 30%;
 
}


.main {
  flex: 70%;
}


@media screen and (max-width: 700px) {
    .row, .navbar {   
    flex-direction: column;
    

  }
}