
* {
  box-sizing: border-box;
  margin :auto;
 }
.body{
	margin-top: auto;
}

.row { 

  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-top:20px;

}


.side {
  flex: 25%;
 
}


.main {
  flex: 60%;
  }


