.detail-contact {
    font-family: Georgia;
    width: 200px;
    color: #404040;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #feca07;

}

@media screen and (max-width : 700px) {
    .detail-contact {
        width: 300px;
    }
}