.ExpPro, .Dformation{
	position:relative;
}

.date{
	padding-left:5px;
	font-size: 12px;
	font-weight: bold;
}
.specialite{
	position:absolute;
	left:35%;
	

	font-size:12px;
	
}
.flottant{
	float:left;
}