.ExpPro, .Dformation{
	position:relative;
}

.date{

	padding-left:5px;
	font-size: 12px;
	font-weight: bold;
}
.specialite{
	
	position:absolute;
	left:33%;
	font-size:12px;
}
	
.localite{
	position:absolute;
	left:1%;
	font-size:11px;
}
.reco2{
	position:absolute;
	left:60%;
	font-size:11px;
}