.experience-pro, .formation-scolaire{
	position:relative;
}
.fa-briefcase,.fa-graduation-cap{
	font-size:2em;
	color:#feca07;
}

.date{
	color:black;
	padding-left:5px;
	font-size: 11px;
	font-weight: bold;
}
.specialite{	
	position:absolute;
	left:35%;
	font-size:12px;
}
	
.localite{
	position:absolute;
	left:5%;
	font-size:10px;
}
.separation{
	color:#feca07;
}
@media screen and (max-width : 600px){
	.specialite{
    padding-left:35px;
  }
}








