.prenom{
	color:#feca07;
}	
	


.souligne{
	font-size: 18px;
	color:#feca07;
	text-decoration: underline;
}
	
.espace{
	padding-left:20px;

} 
.fa-bullseye{
	padding-left:15px;
	font-size: 0.5em;
	color: #feca07;
}

.fa-briefcase,.fa-graduation-cap,.fa-pencil-alt{
	font-size:2em;
	color:#feca07;
}




.localite{
	padding-left:29px;
	font-size:13px;
}
