.PartieG{	

	width: 50px;
	text-align: center;
	background-color: #feca07;
	}

width: 200px;
	color:#404040;
	font-size:13px;
	padding-left:40px;
	padding-right: 40px;
	background-color: #feca07;